@charset "utf8";

.fundo-fixo {
    background: url(../images/fundo.jpg) no-repeat fixed center;
    -webkit-background-size: cover;
}

main {
    padding-top: 80px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}